.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 330px;
    border: 1px solid #0d47a1;
    border-radius: 5px;
    padding: 20px;
    position: relative;

}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.userNameSpan {
    position: absolute;
    top: 65px;
    color: red;
}

.emailSpan {
    position: absolute;
    top: 125px;
    color: red;
    left: 71px;
}

.passwordSpan {
    position: absolute;
    top: 185px;
    color: red;
    left: 75px;
}

.passwordConformationSpan {
    position: absolute;
    top: 250px;
    color: red;
    left: 40px;
}

.Icon{
    color: #072b60;
    margin-right: 10px;
}

.Input{
    outline: none;
    border:1px solid #0d47a1;
    border-radius: 5px;
    padding:  6px;
}

.Input:focus {
    border:1px solid #072b60;
    box-shadow: 0 0 5px #072b60;
}
.button{
    color: wheat;
    font-size: 16px;
    background-color: #0d47a1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1.2em;
    border: #072b60 1px solid;
    border-radius: 10px;
    margin-top: 20px;
}
.button:hover{
    background-color: #072b60;
    cursor: pointer;
}

.button:disabled {
    background-color: #a5c8fc;
    cursor: default;
}